<html>

<head>
    <!--  Cargar archivos estáticos  -->
    {% load static %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="{% static 'css/general.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Bloque css cambiante -->
    {% block css %} {% endblock css %}

    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
<div class="content">
    <!-- Incluir menú -->
    {% include 'menu.html' %}

    <section class="section">
        <!-- Contenido cambiante -->
        {% block content %} {% endblock content %}
    </section>

    <!-- Incluir footer -->
    {% include 'footer.html' %}
</div>
</body>
</html>